/* ******************************************************GENERAL******************************************************************************* */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#wrapper{
    width:70%;
    margin:auto;
}


body{
    background-color:#FECE0F;
}
/* ************************************************************************************************************************************************ */

/*TOP*/
header{
    background-color:#398FD1;
}

h2{
    color:white;
    text-align:center;
}

#simpsonsFamilyImage{
    width:100%;
    vertical-align: top; 
}

/*MAIN*/
h1{
    color:#FECE0F;
    padding:10px;
}

article{
    padding-top: 1em;

}

main p{
    text-align: justify;
    padding:10px;
}

main{
    background-color: white;
    display : flex;
    padding:20px;
    
}

/*BOTTOM*/
footer{
    background-color:#08497B;
    text-align: center;
}

small{
    color:white;
}

/*SIDES*/
aside{
    background-color:#398FD1;
    text-align:justify;
    padding:10px;
    height: auto;   
}

aside p{
    color:white;
    font-size:11px;
}

h3{
    text-align: center;
    color : white;
}

#author{
    border : 1px white solid;
    width:75%;
    display:block;
    margin:auto;
}

nav{
    background-color:#398FD1;
    padding:20px;
    width:20%;
    text-align: center;
    height: fit-content;
}

a{
    color:white;
    font-size:11px;
}

h2,a,h1,p,h3,small{
    font-family: "Fredoka", sans-serif;
}



/* ******************************************************MEDIA-MOBILE******************************************************************************* */

@media screen and (max-width: 640px){

/*GENERAL*/

    #wrapper{
        width:100%;}

    body{
        background-color: white;
        }
/*MAIN*/
    main{
        display:inline;
        padding:1px;
}

    article h1{
        text-align: center;
        font-size: 30px;
}

article p{
    font-size:18px;
    padding:20px;
}
/*SIDES*/
    nav{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-evenly;
        width:80%;
        margin:auto;
        word-wrap: break-word;
        padding-top: 10px;
        border-radius:10px;
    }

    nav a{
        font-size:16px;
        padding:10px;
        line-height: 30px; 
    }

    aside p{
        padding:20px;
        font-size:16px;
    }

    #author{
        max-width:200px;
    }

}/* ******************************************************MEDIA-TABLET******************************************************************************* */

@media screen and (min-width: 700px) and (max-width: 1080px) {

/*GENERAL*/
    
    #wrapper{
        width:100%;
    }

    main{
        padding-top:20px;
        padding-left:5px;
        padding-right:5px;  
    }
/*MAIN*/

    h1{
        font-size:30px;
        text-align: center;
}

    article p{
        font-size:20px;
}

/*SIDES*/

    aside p{
        font-size:18px;
    }

    h3{
        font-size:25px;
    }

    #author{
        max-width: 300px;
    }
    
    nav a{
        font-size:18px;
        line-height: 30px;
    }
}